<div class="about-me container">

    <div class="section-title">
        <h2>About</h2>
        <p>About me</p>
    </div>

    <div class="row">
        <div class="col-lg-4" data-aos="fade-right">
            <img src="assets/img/me.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
            <p>I am a software developer who works mainly with C#, Angular and SQL technologies.</p>
            <p>I consider myself a 'forever student,' eager to build on my skill set and stay tuned with the latest
                technological advances through continued course work and professional development.</p>
            <p>During my first job, I developed an interest in Web technologies. I have started to explore and sharpen
                my skill in Web-based technologies. I have chosen to pursue my interest in web technologies through
                Angular and C#.</p>
            <p>I hold a diploma in Electronics and Communication Engineering from the State Board of Technical Education
                and Training, A.P. I am currently pursuing my Bachelor's degree with Birla Institute of Technology and
                Sciences(BITS), Pilani's Work Integrated Learning Program.</p>
            <h3>Little more</h3>
            <div class="row">
                <div class="col-lg-6">
                    <ul>
                        <li><i class="fa fa-chevron-right"></i><strong>Current Company:</strong> <span>{{currentJob.company}}</span></li>
                        <li><i class="fa fa-chevron-right"></i><strong>City:</strong> <span>{{currentJob.location}}</span>
                        </li>
                        <li><i class="fa fa-chevron-right"></i><strong>Hometown:</strong> <span>Vijayawada, Andhra
                                Pradesh</span></li>
                        <li><i class="fa fa-chevron-right"></i><strong>Birthday:</strong> <span>29th October</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>